@eval rest com.appspot.ssg.dmixed.client.DMixedApp.getHeigth(78)+"px";
@sprite .body {
/* 	nur anstrengend! */
	gwt-image: 'gras';
	background-repeat: no-repeat;
	color: #dedede;
	width: 100%;
	margin: 0;
	height: 100%;
	font-size: 1.5em;
	font-family: Verdana, Tahoma;
	background: none #333333;
}

.main {
	height: 100%;
}

.layoutpanel {
	height: 100%;
}

.header {
	height: 38px;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}

.form {
	
}
.form_header_label {
	clear: both;
    float: left;
    padding: 0.1em 0.8em;
    width: 90%;
}

.widgetlist {
	float: left;
    padding: 0.5em;
}

.formlistentry {
/* 	padding: 0.5em; */
/* 	display: table; */
	width: 100%;
	float: left;
/* 	für die erste Sichtbarkeit */
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	border-radius: 0.3em;
	margin:0.1em 0;
}

.formlistentrydesc {
	color: #333333;
    float: left;
    padding: 0.8em 1.5em;
    text-shadow: 1px 1px 2px #999999;
    width: 16em;
/* 	width: 30%; */
/* 	height: 1.5em; */
/* 	line-height: 1.5em; */
/* 	display: table-cell; */
}

.textbox {
	border: 1px solid #B0B0B0;
	margin: 0.2em 0;
    color: #333333;
    font-size: 1.3em;
    padding: 0.3em 0.4em;
    width: 17em;
    float: left;
}

.textarea {
	font-family: verdana,tahoma;
	border: 1px solid #B0B0B0;
    color: #333333;
    float: left;
    font-size: 1.3em;
    margin: 0.2em 0;
    padding: 0.3em 0.4em;
    width: 17em;
}

.listbox {
	border: 1px solid #B0B0B0;
    color: #333333;
    float: left;
    font-size: 1.3em;
    margin: 0.2em 0;
    padding: 0.3em 0.4em;
    width: 17.8em;
}
/* geht nicht??  */
/* .gwt-listbox { */
/* 	border: 1px solid #B0B0B0; */
/*     color: #333333; */
/*     float: left; */
/*     font-size: 1.3em; */
/*     margin: 0.2em 0; */
/*     padding: 0.3em 0.4em; */
/*     width: 17.8em; */
/* } */

.datebox {
	border: 1px solid #B0B0B0;
    color: #333333;
    float: left;
    font-size: 1.3em;
    margin: 0.2em 0;
    padding: 0.3em 0.4em;
    width: 5em;
}

.checkbox {
    color: #333333;
    float: left;
    font-size: 1.3em;
    margin: 0.2em 0;
    padding: 0.3em 0.4em;

}

.button {
	padding: 0.5em;
}

.button>button {
	display: block;
	width: 100%;
	font-size: 1.5em;
	color: #050505;
	padding: 0.5em 0.8em;
	background: -moz-linear-gradient(top, #ffffff 0%, #274f7a);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#274f7a));
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #002f80;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
		2px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 1);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px
		rgba(255, 255, 255, 0.4);
}

.button>div {
	text-align: center;
}

.celllistwithheader {
	
}

.basiccell {
	
}

.basiccell>a {
/* 	display: block; */
	text-decoration: none;
	color: #333;
	padding: 0.5em;
	border: 1px solid #cecece;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	border-radius: 0.3em;
	margin:0.1em 0;
	clear: both;
    float: left;
}

.tabpanel {
	clear: both;
    height: 100%;
}

.tabpanelheader {
/* 	display: table; */
	float: left;
    height: 2.5em;
    width: 100%;
}

.tabpanelheader>a {
/* 	display: table-cell; */
	float: left;
    padding: 0.5em 0;
    text-align: center;
    width: 33%;
    background: #e2e2e2;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 21%, #d1d1d1 37%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(21%,#dbdbdb), color-stop(37%,#d1d1d1), color-stop(100%,#fefefe));
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 21%,#d1d1d1 37%,#fefefe 100%);
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 21%,#d1d1d1 37%,#fefefe 100%);
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 21%,#d1d1d1 37%,#fefefe 100%);
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 21%,#d1d1d1 37%,#fefefe 100%);
    font-weight: normal;
    color: #333;
    text-shadow: 1px 1px 2px #999999;
    border-right:1px solid #999;
}

.tabpanelheader .selected {
	background: #bfd255;
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 21%, #9ecb2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(21%,#8eb92a), color-stop(100%,#9ecb2d));
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 21%,#9ecb2d 100%);
	background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 21%,#9ecb2d 100%);
	background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 21%,#9ecb2d 100%);
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 21%,#9ecb2d 100%);
	font-weight: bold;
}

.tabpanelbody {
	border: 1px solid #DEDEDE;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    clear: both;
    float: left;
    margin: 0.1em 0.5em;
    padding: 0.3em;
	height: rest;
}