.searchMain {
	border: 1px solid black;
	float: left;
	padding: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.textbox {
	border: 0;
	display: block;
	float: left;
	margin-top: 2px;
}

@sprite .button {
	gwt-image: "search";
	display: block;
	float: left;
	cursor: pointer;
}